header, footer{
  margin: 0 auto;
  text-align: center;
  margin: 30px 0px;
}

#photo-template {
  border: solid 2px black;
  background-color: lightgray;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 530px;
}

body {
  background-color: pink;
}

img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border: solid 1px grey;
  background-color: white;
}

#description {
  font-family: 'Dokdo', cursive;
  font-size: 25px;
}

#keyword {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

h2 {
  padding: 20px 0px;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

select {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  padding: 20px 0px;
}

h1 {
  margin: 0 auto;
  font-size: 50px;
  padding: 20px 0px;
}

@media only screen and (min-width: 768px) {
  div {
    margin: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
  }

}
